name: Update Snapshots
on:
  workflow_call:
    secrets:
      BOT_REPO_SCOPED_TOKEN:
        required: true
env:
  PLAYWRIGHT_BROWSERS_PATH: 0 # Places binaries to node_modules/@playwright/test

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4.1.6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.BOT_REPO_SCOPED_TOKEN }}
      - uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4.0.0
      - name: Install deps
        working-directory: packages/pages-components
        run: pnpm i --ignore-scripts concurrently@8 wait-on@7
      - name: Install playwright browsers
        working-directory: packages/pages-components
        run: |
          npx playwright install --with-deps
      - name: Serve Storybook and update snapshots
        working-directory: packages/pages-components
        env:
          TZ: America/New_York
        run: |
          pnpm exec concurrently -k -s first -n "SB,TEST" \
            "pnpm run storybook -- --quiet --ci" \
            "pnpm exec wait-on tcp:6006 && pnpm run update-snapshots"

      - name: Push changes
        id: push-changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update snapshots"
          add: "./packages/pages-components/.storybook/snapshots/__snapshots__"
          push: true
          pull: --rebase --autostash
          default_author: github_actions

      - name: Fail job if push changes
        if: steps.push-changes.outputs.pushed == 'true'
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Snapshot updates were made. A new commit with new snapshots was pushed.')
