name: WCAG Tests
on: workflow_call

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4.0.0
      - name: Install deps
        working-directory: packages/pages-components
        run: pnpm i --ignore-scripts concurrently@8 wait-on@7
      - name: Install playwright browsers
        working-directory: packages/pages-components
        run: |
          pnpm exec playwright install
      - name: Serve Storybook and run WCAG checks
        working-directory: packages/pages-components
        env:
          TZ: America/New_York
        run: |
          pnpm exec concurrently -k -s first -n "SB,TEST" \
            "pnpm run storybook -- --quiet --ci" \
            "pnpm exec wait-on tcp:6006 && pnpm run wcag"
